h1, h2, h3, h4,  {
      font-family: sans-serif;
  }
    h3  {
      color: gray
       morgan-top: -4px;
    }


nav  {
      header.text
      tex
    .continer
    vertical-align: top;

      border-width; 1px
      border-style:solid;
      border-color: red;
      display:inline-block;
      width: 104;
      vertical-align: top;
    }

    .main-content {
      border-width; 1px
      border-style:dashed;
      border-color: green;
       display:inline-block;
       width: 904;
       vertical-align: top;
    }
